body
{
    font-family: 'Roboto' sans-serif;
    color: black;
    background-color: white;
}

.container
{
    width: 96%;
    padding: 0 2%;
    margin: 0 auto;
}
.info
{
padding: 50px opx;
background-color: #3D488A;
color: white;
}

.info .title
{
    font-weight: 700;
    font-size: 4.5rem;
}

.info .description
{
    line-height: 2.5rem;
}

.info .motto
{
    font-weight: bold;
    font-style: italic;
    padding: 20px;
}